body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: #050b08;
    background-image:linear-gradient(rgba(5,11,8,0.2),rgba(5,11,8,0.2)),
    url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@keyframes dropIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-drop {
    animation: dropIn 0.8s ease-out forwards;
}
.mobile-item {
    padding: 12px 14px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.25s;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mobile-item:hover {
    background: rgba(255, 255, 255, 0.12);
    transform: translateX(4px);
}

.mobile-item.active {
    color: #43bb33;
    background: rgba(67, 187, 51, 0.12);
}
